.button
{
    height: fit-content;
    border-radius: 5px;
    background-color: #F4CE14; /* Green */
    border: none;
    color: black;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}

.button:hover
{
    background-color: #EDEFEE;
    color: black;
}

