

.nav-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container-width
{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bolder;
}

.nav-links > li
{
    padding: 0 20px;
    font-size: larger;
}
